body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.letter {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.story {
  background-color: pink;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

/* ========== NUMBERS ========== */
.numbergrid {

} 




/* ========== LETTERS ========== */
.lettergrid {
  display: grid;

  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 50px 150px 200px 150px 50px 175px;
  grid-gap: 10px;
}


  

/* ========== STORY WORDS ========== */
.storygrid {
  display: grid;

  grid-template-columns: 200px 200px 500px 200px 100px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-gap: 15px;
  gird-
}
